body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #f9f9f9
}

header{
    background: #7877;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

a {
    color:darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}